PALWORLD_ROOT=/opt/palworld
PALWORLD_COMPOSE_FILE=/opt/palworld/compose.yaml
PALWORLD_COMPOSE_SERVICE=palworld-server
PALWORLD_INI_PATH=/opt/palworld/Saved/Config/LinuxServer/PalWorldSettings.ini
PALWORLD_MANAGER_DATA=/opt/palworld-manager/data
PALWORLD_MANAGER_BIND=0.0.0.0
PALWORLD_MANAGER_PORT=8080
PALWORLD_REST_API=http://127.0.0.1:8212/v1/api
TZ=Asia/Shanghai
